/*
GLOBAL STUFF
*/

@font-face {
    font-family: "ShinGo";
    src: url("public/shingo_regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ShinGo";
    src: url("public/shingo_bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: "ShinGo";
    color: white;
    width: 100dvw;
    height: 100dvh;

    /* Center all that shit */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}



/*
GENERIC GLOBAL CLASSES
*/



/*
HEADER/WELCOME SECTION
*/

#main-app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#app-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow:  0px 10px 30px 0px rgba(15, 15, 15, 0.662);
    background-color: #E70012;
    /* opacity: 1;
    background-image:  linear-gradient(135deg, #d50113 25%, transparent 25%), linear-gradient(225deg, #d50113 25%, transparent 25%), linear-gradient(45deg, #d50113 25%, transparent 25%), linear-gradient(315deg, #d50113 25%, #E70012 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat; */

    min-height: fit-content;
    max-height: max-content;
    z-index: 2;
}

#app-header-content {
    display: flex;
    justify-content: space-around;
    align-items:start;
    flex-direction: column;
    width: 80%;
}


#header-content-left {
    text-align: left;
    font-weight:bold;
    font-size: 1.0rem;
}

#header-content-left > h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

#header-content-left > h2 {
    font-size: 1.3rem;
    margin-top: 0px;
    font-style: oblique;
    opacity: 0.8;
}

#header-content-right {
    text-align: justify;
    font-size: 1.0rem;
}

@media only screen and (max-width: 600px) {
    #app-header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    #header-content-left {
        text-align: center;
        width: 100%;
        
    }
    
    #header-content-right {
        /* height: 30%; */
        width: 90%;
    }
}


.spikes {
    width: 100%;
    height: 64px;
    position: relative;
    background: transparent;
    background-image: url("public/tooth.png");
    background-repeat: repeat-x;
    z-index: 2;
    margin-bottom: -64px;
}




#app-projets {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: black;
    background-color: #ffffff;
    background: repeating-linear-gradient(-45deg, #f0f0f0, #f0f0f0 5px, #ffffff 2px, #ffffff 10px);
}